body {
    background: white;
    padding: 1em;
}

body, #input {
    font: 10pt/16pt "PT Serif", "Droid Serif", "Book Antiqua", serif;
}

#columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#output-column, #input-column {
    flex-grow: 1;
    min-width: 15em;
    width: 30em;
}

#output, #input {
    height: 35em;
    width: calc(100% - 4em);
    overflow: scroll;
    white-space: pre;
    padding: 1em;
    margin: 0;
    border: 1px solid black;
}

#output .rhyme {
    font-weight: bold;
}

#output .mark {
    font-weight: normal;
}

#extras {
    min-width: 7em;
    width: 20em;
    flex-grow: 0;
}